// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active,
a.active {
   color: inherit;
}

a:hover,
a:focus,
a:active,
a.active {
  cursor: pointer;
  text-decoration: none;
}
